.container{
    width: 50%;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
}

body{
    background-color: black;
}

label{
    font-weight: bold;
}

.duration{
    display: flex;
    flex-direction: row;
}

.btn-ver{
    position: absolute;
    right: 25%;
    background-color: blue;
    width: 50%;
    height: 600px;
    z-index: 1;
}

.hidden{
    display: none;
}